@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>
    <b>
        Πολιτική Απορρήτου
    </b>
</h4>
<p>
    <h6>ΓΕΝΙΚΑ</h6>
    Η πολιτική προστασίας Προσωπικών Δεδομένων – καλούμενη εφεξής: Πολιτική Απορρήτου, αποτελεί μέρος των Όρων Χρήσης της ιστοσελίδας mypcstation.gr, η οποία ανήκει στην εταιρεία PC STATION. Παρακαλούνται όλοι οι χρήστες της Ιστοσελίδας να διαβάσουν την Πολιτική Απορρήτου, ώστε να ενημερωθούν σχετικά με τις πολιτικές και τις πρακτικές που έχουμε αναπτύξει ώστε να υπάρχει διαφύλαξη των προσωπικών σας στοιχείων. Τα προσωπικά στοιχεία θα χρησιμοποιηθούν με βάση τις ισχύουσες νομικές διατάξεις. Η Πολιτική Απορρήτου καλύπτει τα προσωπικά δεδομένα των χρηστών – επισκεπτών που συλλέγονται αποκλειστικά από το PC STATION, αλλά δεν καλύπτει τη σχέση τους με οποιαδήποτε υπηρεσία, η οποία δεν υπόκειται στην ιδιοκτησία ή / και στον έλεγχο του mypcstation.gr.
</p>
<p>
    <h6>
        ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ
    </h6>
    Τα προσωπικά σας δεδομένα θα είναι αποκλειστικά προσβάσιμα από το PC STATION και από τρίτους, οι οποίοι εκτελούν την επεξεργασία των προσωπικών δεδομένων ως επεξεργαστές δεδομένων, με βάση τις οδηγίες του PC STATION. Επίσης, ο χρήστης – μέλος δύναται να έχει πρόσβαση σε ιστοσελίδες τρίτων και οι πληροφορίες που θα μοιράζονται, θα διέπονται από τις εκάστοτε Πολιτικές Απορρήτου τους.
</p>
<p>
    Κάθε επισκέπτης μπορεί να περιηγηθεί στην mypcstation.gr, χωρίς να παράσχει οποιαδήποτε προσωπική πληροφορία. Προσωπικά δεδομένα θα χρειαστούν μόνο στην περίπτωση που ο εκάστοτε επισκέπτης θελήσει να πραγματοποιήσει κάποια παραγγελία. Οποιαδήποτε συλλογή και επεξεργασία Προσωπικών Δεδομένων θα πραγματοποιείται κατά τρόπο θεμιτό και νόμιμο, βάσει του Ν. 2472 / 1997 περί ‘’Προστασίας του Ατόμου από την Επεξεργασία Δεδομένων Προσωπικού Χαρακτήρα’’ και των αποφάσεων και κανονισμών της Αρχής Προστασίας Δεδομένων Προσωπικού Χαρακτήρα. Το mypcstation.gr διατηρεί το δικαίωμα να αποθηκεύσει την IP διεύθυνση του επισκέπτη και εάν κριθεί απαραίτητο να επικοινωνήσει με τον οποιονδήποτε αρμόδιο στην περίπτωση παραβίασης των Όρων Χρήσης της Ιστοσελίδας.
</p>
<p>
    Τα προσωπικά δεδομένα που δηλώνει ο χρήστης – επισκέπτης, δύναται να προβάλλονται ή/ και να τροποποιούνται ανά πάσα στιγμή. Κι αυτό, χωρίς επιβάρυνση από τον ίδιο τον χρήστη, χρησιμοποιώντας τον προσωπικό του κωδικό πρόσβασης ή κατόπιν αιτήματος προς το mypcstation.gr. Τα δεδομένα αυτά, προορίζονται αποκλειστικά για τη διασφάλιση της ομαλής λειτουργίας των παρεχόμενων υπηρεσιών και τη νομιμότητα των συναλλαγών, και επιτρέπεται να χρησιμοποιηθούν από οποιοδήποτε τρίτο πρόσωπο μόνο με την τήρηση των διατάξεων του Ν. 2472 / 97, σχετικά με την προστασία από επεξεργασία δεδομένων προσωπικού χαρακτήρα. Σε κάθε περίπτωση που απαιτείται από τους ισχύοντες νόμους, θα δοθούν τα προσωπικά στοιχεία στις αρμόδιες αρχές και επιτροπές δεοντολογίας ή/ και μπορεί να απαιτηθεί από το PC STATION, η κοινοποίηση των προσωπικών δεδομένων, σε συμμόρφωση με: δικαστική απόφαση, ένταλμα έρευνας, κλήση, νόμο ή κανονισμό. Μόνο αρμόδιοι υπάλληλοι έχουν πρόσβαση στα προσωπικά δεδομένα, όποτε αυτό κρίνεται αναγκαίο.
</p>
<p>
    Ο κάθε χρήστης – επισκέπτης μπορεί οποτεδήποτε να επικοινωνήσει με το mypcstation.gr προκειμένου να επιβεβαιώσει την ύπαρξη του προσωπικού του λογαριασμού, τη διόρθωση αυτού ή / και τη διαγραφή του, όπως επίσης και την εξαίρεσή του από τη λήψη ηλεκτρονικών ενημερωτικών μηνυμάτων. Ο κάθε χρήστης – επισκέπτης είναι υπεύθυνος για τη χρήση του λογαριασμού του και πρέπει να ενημερώνει άμεσα το mypcstation.gr σε περίπτωση που κάποιος τρίτος χρησιμοποιήσει το λογαριασμό του χωρίς την άδειά του.
</p>
<p>
    <h6>COOKIES</h6>
    Με την είσοδο στην ιστοσελίδα, η εταιρεία μας (και οι εταιρείες με τις οποίες συνεργαζόμαστε) είναι πιθανόν να εγκαταστήσουν κάποια αρχεία στον υπολογιστή ή κάποια άλλη συσκευή πρόσβασης που χρησιμοποιείτε. Τα συγκεκριμένα αρχεία μπορεί να είναι cookies, clear gifs, pixel ή άλλα τοπικά αρχεία που παρέχονται από τον περιηγητή σας ή άλλες συγγενείς εφαρμογές. Οι συγκεκριμένες τεχνολογίες χρησιμοποιούνται για την αναγνώρισή σας ως χρήστη, την προσαρμογή των υπηρεσιών μας για σκοπούς marketing, τη διασφάλιση του εκάστοτε λογαριασμού κτλ.
</p>
<p>
    <h6>ΑΣΦΑΛΕΙΑ</h6>
    Το mypcstation.gr λαμβάνει τα κατάλληλα μέτρα για τη διασφάλιση της Προστασίας των Προσωπικών σας Δεδομένων. Γίνεται κρυπτογράφηση των στοιχείων σας πριν την αποστολή τους και καθιστά τις συναλλαγές όσο το δυνατόν ασφαλέστερες.
</p>
<p>
    <h6>ΤΡΟΠΟΠΟΙΗΣΕΙΣ</h6>
    Η οποιαδήποτε μεταβολή ή τροποποίηση της Πολιτικής Απορρήτου, μπορεί να γίνει σε οποιαδήποτε χρονική στιγμή και να τεθεί άμεσα σε εφαρμογή, χωρίς την ειδοποίηση των χρηστών – επισκεπτών, μετά την ανάρτησή της στην ιστοσελίδα. Η χρήση της ιστοσελίδας έπειτα από την ανάρτηση των αλλαγών ή τροποποιήσεων, θα αποτελεί αποδοχή τους εκ μέρους του χρήστη – επισκέπτη.
</p>
<p>
    <h6>ΑΝΗΛΙΚΟΙ</h6>
    Οι υπηρεσίες και το περιεχόμενο της ιστοσελίδας απευθύνονται αποκλειστικά σε ενήλικα άτομα. Κατά την περίπτωση όπου κάποιος ανήλικος γίνει μέλος στην ιστοσελίδα μας και παράσχει προσωπικά δεδομένα ή εάν ένας πάροχος μας δηλώσει τα στοιχεία ανηλίκου, θα διαγραφούν τα δεδομένα από τη βάση μας.
</p>
<p>
    <h6>
        ΑΠΟΔΟΧΗ ΟΡΩΝ
    </h6>
    Η χρήση της ιστοσελίδας mypcstation.gr γίνεται με την αποδοχή και συγκατάθεση από μέρους σας στη συλλογή και επεξεργασία των Προσωπικών σας Δεδομένων και τα ανωτέρω οριζόμενα. Σε περίπτωση διαφωνίας με την Πολιτική Απορρήτου παρακαλούμε να απέχετε από τη χρήση του συγκεκριμένου ιστότοπου.
</p>
<p>
    <h6>ΕΠΙΚΟΙΝΩΝΙΑ</h6>
    Για οποιαδήποτε απορία σχετικά με την Πολιτική Απορρήτου, μπορείτε να επικοινωνήσετε μαζί μας στο: <b>info@mypcstation.gr</b> και στo τηλέφωνo: <b>2294 069184</b>.
</p>
