@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>
    <b>
        Επιστροφές προϊόντων
    </b>
</h4>
<p>
    <h6>Δικαίωμα υπαναχώρησης</h6>
    Έχετε την δυνατότητα να αλλάξετε ή να επιστρέψετε προϊόντα που έχετε αγοράσει ηλεκτρονικά από το κατάστημά μας. Η δυνατότητα αυτή προϋποθέτει τα προϊόντα που θα επιστρέψετε να φτάσουν σε μας στην αρχική κατάσταση που τα παραλάβατε (σε συσκευασία που θα τα προστατεύει από τη φθορά), ότι δεν θα φέρουν καμία ένδειξη ότι έχουν χρησιμοποιηθεί, θα συμπεριλαμβάνεται το παραστατικό πώλησης κι ότι η αλλαγή θα γίνει εντός της προθεσμίας των 14 ημερών.
</p>
<p>
    Για να είναι αποδεκτή η επιστροφή, θα πρέπει να ελεγχθεί και να εγκριθεί, σύμφωνα με τα παραπάνω.
</p>
<p>
    Μπορείτε να επιστρέψετε τα προϊόντα είτε με επίσκεψή σας στο φυσικό μας κατάστημα (Λεωφ. Μαραθώνος 107, Νέα Μάκρη 190 05) είτε να μας τα αποστείλετε (με δική σας χρέωση). Μόλις τα παραλάβουμε κι επιβεβαιώσουμε την καλή τους κατάσταση, θα σας αποστείλουμε τα προϊόντα με τα οποία επιθυμείτε να αντικαταστήσετε τα αρχικά ή εφόσον το επιθυμείτε, θα συμψηφίσουμε την αξία σε επόμενη παραγγελία σας.
</p>
<p>
    Σε περίπτωση νέας αποστολής  μετά την αλλαγή, υπάρχει κανονικά χρέωση μεταφορικών.
</p>
<p>
    <h6>Παραλαβή λανθασμένου προϊόντος</h6>
    Σε περίπτωση δικού μας λάθους, η επιστροφή γίνεται δεκτή εφόσον μας ειδοποιήσετε σε χρονικό διάστημα όχι μεγαλύτερο των 3 εργάσιμων ημερών. Αναλαμβάνουμε πλήρως την αντικατάσταση του λανθασμένου προϊόντος με το σωστό με δικά μας έξοδα επιστροφής κι εκ νέου αποστολής.
</p>

