@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center m-5">
    <h1><b>Τεχνική Υποστήριξη</b></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Τι προσφέρουμε</h3>
            <ul>
                <li>
                    Επισκευή Υπολογιστών, tablet και κινητών.
                </li>
                <li>
                    Απομακρυσμένη βοήθεια.
                </li>
                <li>
                    Εγκατάσταση προγραμμάτων, αναζήτηση λύσεων για κάθε ανάγκη.
                </li>
                <li>
                    Πρόγραμμα αποθήκης και εμπορικής διαχείρισης.
                </li>
                <li>
                    Αντίγραφα ασφαλείας.
                </li>
                <li>
                    Αναβάθμιση  υπολογιστών και περιφερειακών για μεγαλύτερη αποδοτικότητα.
                </li>
                <li>
                    Υποστήριξη social media, εμφάνιση στο google, wordpress.
                </li>
                <li>
                    Επίλυση ζητημάτων τιμολογίων και αποστολής δεδομένων στην ΑΑΔΕ.
                </li>
                <li>
                    Γρήγορη ανταπόκριση, από Δευτέρα εως Σάββατο.
                </li>
            </ul>

        </div>
        <div class="col">
            <img src="~/images/support.jpg" class="img-fluid">
        </div>
    </div>
    <div>
        </br>
        <h3>
            Πως μπορείτε να επικοινωνήσετε μαζί μας
        </h3>
        <ol>
            <li>Επικοινωνήστε μαζί μας τηλεφωνικά ή μεσω της φόρμας στο κάτω μέρος της σελίδας μας ή μέσω του κουμπιού συνομιλία στο κάτω δεξιά μέρος της σελίδας μας.</li>
            <li>Αγοράστε ένα Ticket απομακρυσμένης βοήθειας.</li>
            <li>Κατεβάστε το <b>AnyDesk</b>  πατώντας λήψη τώρα στον σύνδεσμο που ακολουθεί: <b>https://anydesk.com/el</b> </li>
            <li>Κλείστε τηλεφωνικά μαζί μας ένα ραντεβού.</li>
            <li>Ανοίξτε το AnyDesk και δώστε μας στον αριθμό του σταθμού εργασίας και είστε έτοιμοι!</li>

        </ol>
    </div>
    <div class="text-center m-5">
        <h3 style="color:#84c6e6;">
            <b>
                Επιλέξτε διάρκεια απομακρυσμένης βοήθειας
            </b>
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col centerText">
                <img src="~/images/help1.jpg" class="img-fluid">
                <h1 style="color:#4ea2a0;">
                    15 Ευρώ Συμπ. ΦΠΑ
                </h1>
            </div>
            <div class="col centerText">
                <img src="~/images/help2.jpg" class="img-fluid">
                <h1 style="color:#4ea2a0;">30 Ευρώ Συμπ. ΦΠΑ</h1>
            </div>
        </div>
    </div>
    <hr style="border: 3px solid #4ea2a0;
        border-radius: 5px;" />
    <div class="text-center m-5">
        <h3 style="color:#84c6e6;">
            <b>
                Επικοινωνήστε μαζί μας
            </b>
        </h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p style="font-size:30px;">
                    <b>Περιγράψτε το πρόβλημα ή επικοινωνήστε μαζί μας</b></h3>
                </p>
                <p style="font-size:30px; color:#7a7a8f;">
                    Τηλ: 2294069184
                </p>
                <p style="font-size:30px; color:#7a7a8f;">
                    E-Mail: info@mypcstation.gr
                </p>
                <p style="font-size:30px;">
                    <a>Βρείτε μας στο Χάρτη</a>
                </p>
                <p style="font-size:30px;">
                    <a href="https://goo.gl/maps/mY7mSCLT6tHDJXUA6" target="_blank">
                        <p style="font-size:25px;">
                            Λ. Μαραθώνος 107, Νέα Μάκρη, Αττική
                        </p>
                    </a>
                </p>

            </div>
            <div class="col">
                <form action="https://formsubmit.co/kostas07101989@yahoo.gr" method="POST">
                    <label style="color:#7a7a8f;">Όνομα</label></br>
                    <input type="text" name="name" placeholder="Όνομα" required></br></br>
                    <label style="color:#7a7a8f;">Email</label></br>
                    <input type="email" name="email" placeholder="Email" required></br></br>
                    <label style="color:#7a7a8f;">Περιγραφή Προβρλήματος</label></br>
                    <textarea name="w3review" rows="4" cols="50" placeholder="Message"></textarea></br>
                    <button type="submit" class="btn btn-primary">ΑΠΟΣΤΟΛΗ</button>
                </form>
            </div>
        </div>
    </div>
   @* <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/images/icons/1.png" class="w-95 center" asp-append-version="true" />
                        </div>
                        <div class="col">
                            <h6><b>Δωρεάν μεταφορικά</b></h6>
                            <p>Για όλες τις παραγγελίες άνω των 200 €</p>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/images/icons/2.png" class="w-95 center" asp-append-version="true" />
                        </div>
                        <div class="col">
                            <h6>
                                <b>
                                    Υψηλή ποιότητα
                                </b>
                            </h6>
                            <p>
                                Προσφέρουμε ανταγωνιστικές τιμές
                            </p>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/images/icons/3.png" class="w-95 center" asp-append-version="true" />
                        </div>
                        <div class="col">
                            <h6>
                                <b>
                                    100% ασφαλείς πληρωμές
                                </b>
                            </h6>
                            <p>
                                Με χρήση πρωτοκόλλου ασφαλείας
                            </p>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img src="~/images/icons/4.png" class="w-95 center" asp-append-version="true" />
                        </div>
                        <div class="col">
                            <h6>
                                <b>
                                    Εξυπηρέτηση πελατών
                                </b>
                            </h6>
                            <p>
                                Καλέστε μας για οτιδήποτε χρειάζεστε
                            </p>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <h5><b>Επικοινωνία</b></h5>
            </div>
            <div class="col"><h5><b>Χρήσιμα</b></h5></div>
            <div class="col"><h5><b>Πληρωμές</b></h5></div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col" style=" border-left: 3px solid#2fa6dc; height: 50px;">
                Καλέστε μας</br>
                <a href=“tel:+302294069184”>
                    <span aria-label="Κλήση αριθμού τηλεφώνου 2294 069184"><b>2294 069184</b></span>
                </a>
            </div>
            <div class="col"><h5><b>Επικοινωνία</b></h5></div>
            <div class="col"><h5><b>Επικοινωνία</b></h5></div>
        </div>
        </br>
        <div class="row">
            <div class="col" style=" border-left: 3px solid#2fa6dc; height: 50px;">
                Email</br>
                <a href="mailto:info@mypcstation.gr">
                    info@mypcstation.gr
                </a>
            </div>
            <div class="col"><h5><b>Επικοινωνία</b></h5></div>
            <div class="col"><h5><b>Επικοινωνία</b></h5></div>
        </div>
    </div>*@

