@{
    ViewData["Title"] = "Home Page";
}
@*@{
    var laptopImagePath = "~/images/laptop/" + (Model.productTitle + ".jpg");
}*@
<div class="container">
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <img src="~/images/indexImg.png" class="img-fluid">
        </div>

        <h3 style="color:#84c6e6;">Refurbished Laptops</h3>

        <div class="col-4 mb-5">
            <img src="~/images/laptop/L-3017-SQ.jpg" class="w-95 center" asp-append-version="true" />
            <p>DELL Laptop 5480, i5-6300U, 8GB, 128GB M.2, 14", Cam, REF FQ</p>

        </div>
        <div class="col-4 mb-5">
            <img src="~/images/laptop/L-3017-SQ.jpg" class="w-95 center" asp-append-version="true" />
            <p>DELL Laptop 5480, i5-6300U, 8GB, 128GB M.2, 14", Cam, REF FQ</p>
        </div>

        <h3 style="color:#84c6e6;">Refurbished PC</h3>

        <div class="col-4 mb-5">
            <img src="~/images/laptop/L-3017-SQ.jpg" class="w-95 center" asp-append-version="true" />
            <p>DELL Laptop 5480, i5-6300U, 8GB, 128GB M.2, 14", Cam, REF FQ</p>

        </div>
        <div class="col-4 mb-5">
            <img src="~/images/laptop/L-3017-SQ.jpg" class="w-95 center" asp-append-version="true" />
            <p>DELL Laptop 5480, i5-6300U, 8GB, 128GB M.2, 14", Cam, REF FQ</p>
        </div>
    </div>

    <div class="col-12 mb-5 mt-5">
        <a asp-area="" asp-controller="Home" asp-action="Support">
            <img src="~/images/support.jpg" class="img-fluid rounded mx-auto d-block">
        </a>

    </div>
</div>
