@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>
    <b>
        Τρόποι Πληρωμής
    </b>
</h4>
<p>
    <h6>Αντικαταβολή</h6>
    H παραγγελία σας παραδίδεται μέσω του courier στο χώρο σας κι εσείς πληρώνετε το αντίτιμο τη στιγμή της παραλαβής. Για αποστολή με αντικαταβολή υπάρχει επιβάρυνση επιπλέον €2,5.
</p>
<p>
    <h6>Κατάθεση σε Τραπεζικό Λογαριασμό</h6>
    Μπορείτε να καταθέτετε τα χρήματα για την εξόφληση της παραγγελίας σας στον παρακάτω τραπεζικό λογαριασμό:
</p>
<p>
    Τράπεζα Πειραιώς : GR8401714300006430137640208 ΣΤΑΜΟΥ ΕΥΔΟΞΙΑ ΦΩΤΕΙΝΗ
</p>
<p>
    Η κατάθεση πρέπει να πραγματοποιηθεί το αργότερο σε 2 εργάσιμες ημέρες από την ημερομηνία καταχώρησης της παραγγελίας σας. Ο χρόνος αποστολής της παραγγελίας σας ξεκινάει από την ημέρα που γίνεται εκκαθάριση του ποσού στο λογαριασμό μας. Στο καταθετήριο είναι απαραίτητο να αναγράψετε ως αιτιολογία: το επώνυμο ή/και τον αριθμό παραγγελίας.
</p>
<p>
    <h6>Πληρωμή στο κατάστημα</h6>
    Μπορείτε να πραγματοποιήσετε ηλεκτρονικά την παραγγελία σας και να την παραλάβετε κι εξοφλήσετε με πιστωτική / χρεωστική κάρτα ή μετρητά στο φυσικό μας κατάστημα. (Λεωφ. Μαραθώνος 107, Νέα Μάκρη 190 05).
</p>

<h4>
    <b>Αποστολές</b>
</h4>
<p>
    Το κατάστημά μας συνεργάζεται με ΕΛΤΑ ΚΟΥΡΙΕΡ για τις παραδόσεις των παραγγελιών. Η παράδοση των αποστολών είναι άμεση (συνήθως εντός 1-2 ημερών). Σε περίπτωση που η περιοχή σας είναι νησιωτική ή χαρακτηρίζεται ως δυσπρόσιτη, ο χρόνος παράδοσης είναι 2-3 εργάσιμες ημέρες.
</p>