@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>
    <b>
        Όροι χρήσης
    </b>
</h4>
<p>
    Το PC Station δεσμεύεται για την προστασία των προσωπικών δεδομένων των πελατών του. Σε καμία περίπτωση δεν πρόκειται τα προσωπικά σας δεδομένα να δοθούν σε άλλες εταιρείες χωρίς την άδειά σας. Τα προσωπικά σας δεδομένα αποθηκεύονται από εμάς με μοναδικό σκοπό τη δική σας εξυπηρέτηση στο κατάστημά μας.
</p>
<p>
    Το PC Station, ακολουθώντας απαρέγκλιτα τις αρχές της προστασίας των προσωπικών δεδομένων που προβλέπονται από τους σχετικούς νόμους και διεθνείς συμβάσεις δεν πρόκειται να προβούν σε οποιαδήποτε αθέμιτη και χωρίς την προηγούμενη έγκρισή σας χρήση. Το PC Station με κανέναν τρόπο δεν αποκαλύπτει, δημοσιοποιεί, πωλεί, ανταλλάσσει τα προσωπικά στοιχεία και τις πληροφορίες που μας εμπιστεύεστε.
</p>
<p>
    Επίσης μπορείτε οποτεδήποτε να προβείτε στην αλλαγή των προσωπικών στοιχείων που μας έχετε γνωστοποιήσει. Όλες οι προσωπικές σας πληροφορίες είναι απολύτως ασφαλής.
</p>
<p>
    Το PC Station σε καμία περίπτωση δεν φέρει ευθύνη για τυχόν απαιτήσεις νομικής ή αστικής ή και ποινικής φύσεως ούτε για τυχόν ζημία από επισκέπτες του διαδικτυακού μας τόπου ή τρίτους από αιτία που έχει σχέση με τη λειτουργία ή μη ή και τη χρήση του διαδικτυακού ή και σε εύλογη αδυναμία παροχής υπηρεσιών και προϊόντων που διατίθενται από αυτόν ή και από τυχόν μη επιτρεπόμενες παρεμβάσεις τρίτων σε προϊόντα ή και υπηρεσίες ή και πληροφορίες που διατίθενται μέσω αυτού. Ωστόσο, προς διασφάλιση των συναλλαγών διαθέτει σύστημα Secure Shell Layer (SSL). Δεν ευθύνεται για παράνομη χρήση πιστωτικής κάρτας από μη κάτοχο, εφόσον, δεν έχει δηλωθεί στην τράπεζα η απώλειά της καθώς συνιστά ευθύνη του Πελάτη η φύλαξη της πιστωτικής του κάρτας.
</p>
<p>
    Οι τιμές των προϊόντων περιλαμβάνουν το Φ.Π.Α. Οι τιμές ισχύουν και για παραλαβή από το κατάστημα. Στις τιμές δεν περιλαμβάνονται τα έξοδα αποστολής, τα οποία θα προστεθούν αφού ορίσετε τον τόπο και τον τρόπο αποστολής της.
</p>
<p>
    Το PC Station εκδίδει αποδείξεις λιανικής πώλησης ή τιμολόγιο. Στην περίπτωση έκδοσης τιμολογίου είναι απαραίτητα τα εξής στοιχεία: Επωνυμία, Α.Φ.Μ., Δ.Ο.Υ, Επάγγελμα, Διεύθυνση, Τηλέφωνο.
</p>
<p>
    Το PC Station διατηρεί το δικαίωμα να αλλάξει ή να διορθώσει τους Όρους Χρήσης ανά πάσα στιγμή και να ενημερώσει αναλόγως το διαδικτυακό του τόπο.
</p>